html
  extends layout
  block content
    body#itemdata
      aside.active-keys
        p Active keys: #{collectionKeys.length}
        - var i = 0
        each collection in collections
          div(id='collection:'+collection._id)
            button.btn.btn-xs.btn-info.edit Edit
            button.btn.btn-xs.btn-danger.delete Delete
            p.item #{collection.name}
            - i++

        button.btn.btn-xs.btn-primary.new New
        button.btn.btn-xs.btn-primary.clear Clear 

      form(action="/collectiondata/new" method="post")
        h4#mode-display Create New Collection
        - var inputs = [['image', 'text', false], ['name', 'text', false], ['date', 'text', false], ['description', 'textarea', false], ['link', 'text', false], ['status', 'text', false], ['type', 'text', false], ['technologies', 'text', true]]
        - for(var i = 0; i < inputs.length; i++)
          +createInput(inputs[i][0], inputs[i][1], inputs[i][2])
        .container#extended
          p Showcase website?
          | True 
          input(type="radio" name="showcase" value="true")
          br
          | False 
          input(type="radio" name="showcase" value="false")
        .container#featured
          p Feature?
          | True 
          input(type="radio" name="featured" value="true")
          br
          | False 
          input(type="radio" name="featured" value="false")
        .container#partOfTeam
          p Parent Team
          p No team
          input(type="radio" name="parentTeam", value='')
          - for(var i = 0; i < teams.length; i++)
            p #{teams[i].name}
            input(type="radio" name="parentTeam", value=teams[i]._id)
        input.btn.btn-primary(type="submit")

    mixin createInput(fieldName, fieldType, multi=false)
      .container(id=fieldName)
        p #{fieldName}
        - if (fieldType === "textarea")
          textarea(name=fieldName class=fieldName rows=5 cols=50)
        - else
          input(type=fieldType name=fieldName class=fieldName)
        - if (multi)
          .btn.btn-xs.btn-success.newfield Add
  
    script(type="text/javascript" src="/javascripts/collectionform.js")