extends layout

block content
  header#gallery
    div.text-container
      p.visible-md.visible-lg Gallery
  section#project
    each item in pageContent
      - var project = item["PROJECT"]
      .row
        .container-fluid
            .col-lg-5.col-lg-offset-1
              aside
                img.img-responsive(src=project["Image"])
            .col-lg-5
              article
                .row
                  .col-lg-12
                    h1 #{project["Name"]}
                .row
                  .col-lg-7
                    .container-fluid
                      .row
                        p#date: i #{project["Date"]}
                        a(href="https://"+project["Link"]) #{project["Link"]}
                      .row
                        p #{project["Description"]}
                      .row
                        a(href=project["DisplayLink"] target="_blank")
                          div
                            .button
                              h4 View
                  .col-lg-5
                    .container-fluid
                      .row.status
                        .row
                          .col-lg-6.col-md-12
                            p: strong Status: #{project["Status"]}
                          .col-lg-6.col-md-6.visible-lg.indicator
                            div.blue
                        .row
                          .col-lg-6.col-md-12
                            p: strong Type: #{project["Type"]}
                          .col-lg-6.col-md-6.visible-lg.indicator
                            div.blue
                        .row
                          .col-lg-6.col-md-12
                            p: strong Parent: #{project["Parent"]}
                          .col-lg-6.col-md-6.visible-lg.indicator
                            div.red
                      .row
                        hr
                        p Technologies:
                        ul#tech-list
                          p.visible-lg Main
                          each prog in project["Technologies"]["Main"]
                            li: p #{prog}
                          p.visible-lg Support
                          each prog in project["Technologies"]["Secondary"]
                            li: p #{prog}
                      .row
                        hr
                        p Team:
                        ul#team
                          each users in project["Team"]
                            li: p #{users}
                  
