extends layout

block content
  - var item = pageContent
  section#project
    .bg
      .overlay
      img(src=item.Image)
    aside.info
      #team
        .container-fluid
          .img-container
            img.img-responsive(src=item.Team.Image)
        article.container-fluid
          h4 #{item.Team.Name}
          - if (item.Team.Site)
            a(href=item.Team.Site target="_blank")
              h5 #{"@"+item.Team.Site}
          +iterator(item.Team.Members)
      #headers
        article.col-lg-6.col-xs-6
          h5 Project
        article.col-lg-6.col-xs-6
          h5 Team 
      #item
        article.container-fluid
          +detailField('Status', item.Status)
          +detailField('Type', item.Type)
          +detailField('Parent', item.Parent)
      #tech
        article.container-fluid
          .col-lg-12
            .row
              h4 Technologies
            .row
              .col-lg-6.col-xs-6
                h5 Main
                +iterator(item.Technologies.Main)
              .col-lg-6.col-xs-6
                h5 Secondary
                +iterator(item.Technologies.Secondary)
    main.container
      h1 #{item.Name}
      - if (item.Link)
        a(href=item.Team.Site target="_blank")
          h5 #{item.Link}
      h5 #{item.Date}
      .img-container
        img.img-responsive(src=item.Image)
      article
        p #{item.Description}

  - if (item.Extended)
    | !{extension}
    
  mixin detailField(name, result)
    .row
      .col-lg-6.col-xs-6
        h6 #{name}
      .col-lg-6.col-xs-6
        h4 #{result}

  mixin iterator(field)
    - if (field === "object")
      each sub in field
        li #{sub}
    - else
      li #{field}