extends layout

block content
  - var item = pageContent[itemID.toUpperCase()]
  section#project
    .bg
      .overlay
      img(src=item.Image)
    .row.item-container
      .container-fluid
          .col-lg-5.col-lg-offset-1
            aside
              img.img-responsive(src=item.Image)
          .col-lg-5
            article
              .row
                .col-lg-12.col-md-12
                  h1 #{item.Name}
                .col-lg-7.col-md-12
                  .container-fluid
                    .row
                      p#date: i #{item.Date}
                    .row
                      a(href="https://"+item.Link) #{item.Link}
                    .row
                      p#desc #{item.Description}
                .col-lg-5.col-md-12
                  .container-fluid
                    .row.status
                      .row
                        .col-lg-6.col-md-12
                          p: strong Status: #{item.Status}
                        .col-lg-6.col-md-6.visible-lg.indicator
                          div.blue
                      .row
                        .col-lg-6.col-md-12
                          p: strong Type: #{item.Type}
                        .col-lg-6.col-md-6.visible-lg.indicator
                          div.blue
                      .row
                        .col-lg-6.col-md-12
                          p: strong Parent: #{item.Parent}
                        .col-lg-6.col-md-6.visible-lg.indicator
                          div.red
                      .row
                        .col-lg-12
                          hr
                          p Technologies:
                          ul#tech-list
                            - var keys = Object.keys(item.Technologies)
                            each key in keys
                              li.head #{key}
                              - if (item.Technologies[key].length <= 1)
                                li.component #{item.Technologies[key]}
                              - else
                                each comp in item.Technologies[key]
                                  li.component #{comp}
                      .row
                        .col-lg-12
                          hr
                          p Team:
                          ul#team
                            - if (item.Team["Site"] && item.Team["Name"])
                              li.head: a(href=item.Team["Site"], target="_blank") #{"@"+item.Team["Name"]}
                            - else if (item.Team["Name"])
                              li.head #{"@"+item.Team["Name"]}
                            li.head Members:
                            each member in item.Team["Members"]
                              li.component #{member}

  - if (item.Extended)
    include item.extended.jade
