html
  extends layout
  block content
    body#itemdata
      aside.active-keys
        p Active keys: #{itemKeys.length}
        - var i = 0
        each item in items
          div(id='item:'+item._id)
            button.btn.btn-xs.btn-info.edit Edit
            button.btn.btn-xs.btn-danger.delete Delete
            p.item #{item.name}
            - i++

        button.btn.btn-xs.btn-primary.new New
        button.btn.btn-xs.btn-primary.clear Clear 

      form(action="/itemdata/new" method="post")
        h4#mode-display Create New Item
        - var inputs = [['Images', 'text', true], ['Name', 'text', false], ['Date', 'text', false], ['Description', 'textarea', false], ['Link', 'text', false], ['Status', 'text', false], ['Type', 'text', false], ['Technologies', 'text', true]]
        - for(var i = 0; i < inputs.length; i++)
          +createInput(inputs[i][0], inputs[i][1], inputs[i][2])
        .container#Extended
          p Extended
          | True 
          input(type="radio" name="Extended" value="true")
          br
          | False 
          input(type="radio" name="Extended" value="false")
        .container#partOfCollection
          p Collections
          - for(var i = 0; i < collections.length; i++)
            p #{collections[i].name}
            input(type="checkbox" name="collection", value=collections[i]._id)
            
        input(type="hidden" name="mode" value="new" id="mode")
        input.btn.btn-primary(type="submit")

    mixin createInput(fieldName, fieldType, multi=false)
      .container(id=fieldName)
        p #{fieldName}
        - if (fieldType === "textarea")
          textarea(name=fieldName class=fieldName rows=5 cols=50)
        - else
          input(type=fieldType name=fieldName class=fieldName)
        - if (multi)
          .btn.btn-xs.btn-success.newfield Add
  
    script(type="text/javascript" src="/javascripts/itemform.js")