html
  link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
  body#itemdata
    aside
      p Active keys: #{itemKeys.length}
      - var i = 0
      each item in items
        button.btn.btn-xs.btn-info.edit(attr=item.Name id=item._id) Edit
        button.btn.btn-xs.btn-danger.delete(attr=item.Name id=item._id) Delete
        p.item #{item.Name}
        - i++
        br
      br
      button.btn.btn-xs.btn-primary.new New  
    br
    form(action="itemdata/new" method="post")
      each field in templateKeys
        p: strong #{field}:
        - if (field === "Description")
          .container(id=field)
            textarea(name=field rows=5 cols=50)
        - else if (typeof(template[field]) === "boolean")
          .container(id=field)
            | True 
            input(type="radio" name=field value="true")
            br
            | False 
            input(type="radio" name=field value="false")
        - else if (typeof(template[field]) === "object")
          .container(id=field)
            each sub in Object.keys(template[field])
              p #{sub}
              .container
                input(type="text" name="sub"+sub+","+field class=sub)
                - if (typeof(template[field][sub]) === "object")
                  button.btn.btn-xs.btn-success.newfield(target=sub) Add
                  br
        - else if (field === "Images")
          .container(id=field)
            input(type="text" name=field class=field)
            button.btn.btn-xs.btn-success.newfield(target=field) Add
        - else
          .container(id=field)
            input(type="text" name=field)
      input(type="hidden" name="mode" value="new" id="mode")
      br
      br
      input.btn.btn-primary(type="submit")
      br
      br
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="/javascripts/form.js")
