html
  link(rel="stylesheet", type="text/css", href="/bower_components/reset-css/reset.css")
  link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  style.
    form, aside {
      width: 900px; 
      margin: auto;
    }
    p {
      margin: 5px 0 0 0;
    }
    p.item {
      display: inline-block;
    }
    button.btn-success {
      margin-left: 20px;
    }
    .btn-info,
    .btn-danger {
      margin: 2px;
    }
    .btn-danger {
      margin-right: 20px;
    }
  body
    aside
      p Active keys: #{itemKeys.length}
      - var i = 0
      each item in items
        button.btn.btn-xs.btn-info.edit(attr=item.Name item=i) Edit
        button.btn.btn-xs.btn-danger.delete(attr=item.Name item=i) Delete
        p.item #{item.Name}
        - i++
        br
      br
      button.btn.btn-xs.btn-primary.new New  
    br
    form(action="newitem/new" method="post")
      p #{templateKeys["Extended"]}
      each field in templateKeys
        p: strong #{field}:
        - if (field === "Description")
          textarea(name=field rows=5 cols=50)
        - else if (typeof(template[field]) === "boolean")
          | True 
          input(type="radio" name=field value="true")
          br
          | False 
          input(type="radio" name=field value="false")
        - else if (typeof(template[field]) === "object")
          each sub in Object.keys(template[field])
            p #{sub}
            input(type="text" name="sub"+sub+","+field id=sub)
            - if (typeof(template[field][sub]) === "object")
              button.btn.btn-xs.btn-success.newsub(attr=sub) Add
              br
        - else if (field === "Images")
          input(type="text" name=field id=field)
          button.btn.btn-xs.btn-success.newsub(attr=field) Add
        - else
          input(type="text" name=field)
      br
      br
      input.btn.btn-primary(type="submit")
      br
      br
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="/javascripts/form.js")
