html
  link(rel="stylesheet", type="text/css", href="/bower_components/reset-css/reset.css")
  link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  style.
    form, aside {
      width:900px; 
      margin:auto;
    }
    input[type=text] {
      display:block;
    }
    p {
      margin: 5px 0 0 0;
    }
  body
    form(action="" method="post")
      p #{templateKeys["Extended"]}
      each field in templateKeys
        p: strong #{field}:
        - if (field === "Description")
          textarea(name=field rows=5 cols=50)
        - else if (typeof(template[field]) === "boolean")
          | True 
          input(type="radio" name=field value=true)
          br
          | False 
          input(type="radio" name=field value=false)
        - else if (typeof(template[field]) === "object")
          each sub in Object.keys(template[field])
            p #{sub}
            - if (typeof(template[field][sub]) === "object")
              button.btn.btn-xs.btn-success.newsub(attr=sub) Add
            input(type="text" name="sub"+sub+","+field id=sub)
        - else if (field === "Image")
          button.btn.btn-xs.btn-success.newsub(attr="Image") Add
          input(type="text" name=field id=field)
        - else
          input(type="text" name=field)
      br
      br
      input.btn.btn-primary(type="submit")
      br
      br
    aside
      p Active keys: #{itemKeys}
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="/javascripts/form.js")
