extends layout

block content
  #portfolio
    header.container-fluid
      .row
        .col-lg-4#latest
          .row
            img.img-responsive(src=latest.Image)
            .info
              aside.col-lg-6
                h3 Latest
              aside.col-lg-6
                p #{latest.Name}
                P #{latest.Date}
        .col-lg-4#featured
          .row
            img.img-responsive(src=latest.Image)
            .info
              aside.col-lg-6
                h3 Featured
              aside.col-lg-6
                p #{latest.Name}
                P #{latest.Date}
        .col-lg-4#upcoming
          .row
            img.img-responsive(src=upcoming.Image)
            .info
              aside.col-lg-6
                h3 Upcoming
              aside.col-lg-6
                p #{upcoming.Name}
                P #{upcoming.Date}
    main
      section#display
        .container-fluid
          .row
            - var keys = itemKeys
            - var items = keys.length
            - for (var i = 0; i < items; i++)
                +createItem(i)

    mixin createItem(index)
      article.col-lg-2.col-md-3.col-sm-6.item
        a(href="portfolio/item/" + pageContent[index]._id)
          - var keyItem = pageContent[index]
          img.img-responsive(src=keyItem.Image)
          aside
            h5 #{keyItem.Name}