extends layout

block content
  #portfolio
    nav
      .selection.container-fluid
        .row
          button.swSelec Selected Works
          .container-fluid
            each collection in selectedCollections
              a.anchor(href='#'+collection._id)=collection.name
        .row
          button.va.vaSelec View All
          .container-fluid.va.vaExt
            .row
              button.selecItem Item
              .itemType.isItem
            .row
              button.selecCol Collection
              .itemType.isCol
    .itemInfoOverlay
      .loading.main
        .spinnerContainer
          .block
          .spinner.top
          .spinner.bot
      .container-fluid
        .row
          .col-lg-9
            .row.main
              h1.title
              p.date
              p.desc
            .row.info
              .col-lg-4.proj
                p.infoHead Project
                +Info('Name', '#')
                +Info('Type', '#')
                +Info('Status', '#')
                +Info('Client', '#')
                +Info('Technologies', '#')
                +Info('Link', '#')
              .col-lg-4.team
                p.infoHead Team
                +Info('Name', '#')
                +Info('Status', '#')
              .col-lg-4.child
                p.infoHead Child Items
          .col-lg-3
            .buttonContainer
              a.disabled.showcase.hidden-xs View Showcase
              button.disabled.parent.hidden-xs View Parent Collection
              button.closeOverlay Close
      .container-fluid.gallery
        .col-lg-9
          .row
            p.infoHead Gallery
          .row.imgContainer
    #selectedWorks
      - var infos = ['Type', 'Status', 'Link']
      each collection in selectedCollections
        .container-fluid
          .row.work(id=collection._id)
            img(src=collection.image[0][0] alt=collection.image[0][1])
            .buttonContainer
              button.team
                i.ion-person-stalker
              button.stats
                i.ion-stats-bars
              - if (collection.showcase == 'true')
                a(href='showcases/' + collection.itemType + '/' + collection._id)
                  i.ion-ios-star
              - else
                a.disabled(href='showcases/' + collection.itemType + '/' + collection._id)
                  i.ion-ios-star
            .info.container-fluid
              .row
                .col.col-lg-4.col-md-4
                  h5.head Description
                  .proj.container-fluid.row
                    p= collection.description
                  .team.container-fluid.row
                    p= collection.parentTeamData.description
                .col.col-lg-4.col-md-4
                  h1.head BYGONE, A Soldier's Tale
                  p.head.orange=collection.date
                  p.head=collection.for
                .col.col-lg-4.col-md-4
                  h5.head Information
                  .proj.container-fluid.row
                    .col-lg-6.seperator
                      each info in infos
                        - if (collection[info.toLowerCase()])
                          +Info(info, collection[info.toLowerCase()])
                      +Info('Client', collection.for)
                      +Info('Part of Team', collection.parentTeamData.name)
                      +Info('Project Size', collection.collectionSize + ' Item/s')
                    .col-lg-6
                      +Info('Technologies', collection.technologies)
                  .team.container-fluid.row
                    .col-lg-6.seperator
                      +Info('Name', collection.parentTeamData.name)
                      +Info('Status', collection.parentTeamData.status)
                      +Info('Link', collection.parentTeamData.link)
                    .col-lg-6
                      +Info('Members', collection.parentTeamData.members)

    #allWorks
      .loading
        .spinnerContainer
          .block
          .spinner.top
          .spinner.bot
      .container-fluid.allWorkContainer
        .row
          each item in items
            .post(id=item.itemType + ':' + item._id class=item.itemType)
              img(src=item.image[0][0] alt=item.image[0][1])
              -if(item.itemType == "collection")
                .itemType.isCol
              -else if(item.itemType == "item")
                .itemType.isItem(parent=item.parentCollection)
    #lightBox
      p
      .close
        i.ion-ios-close-empty
      .close
        i.ion-ios-close-empty
      
  mixin InfowButton(title, desc, btnTxt, cls)
    .row
      .col-lg-4
        p.title=title
      .col-lg-4.col-xs-8
        p.value=desc
      .col-lg-4.col-xs-4.link
        button(class=cls)=btnTxt

  mixin Info(title, desc)
    .row
      .col-lg-4.col-xs-4
        p.title=title + ' :'
      - if(typeof(desc) == 'object')
        .col-lg-8.col-xs-8
          each elem in desc
            p.value(class=title.toLowerCase())=elem
      - else
        .col-lg-8.col-xs-8
          p.value(class=title.toLowerCase())=desc
  script(type="text/javascript" src="/javascripts/portfolio.min.js")