extends layout

block content
  #portfolio
    nav
      .selection.container-fluid
        .row
          button.swSelec Selected Works
          .container-fluid
            each collection in selectedCollections
              a.anchor(href='#'+collection._id)=collection.name
        .row
          button.va.vaSelec View All
          .container-fluid.va.vaExt
            .row
              button.selecItem Item
              .itemType.isItem
            .row
              button.selecCol Collection
              .itemType.isCol
    .itemInfoOverlay
      .loading.main
        .spinnerContainer
          .block
          .spinner.top
          .spinner.bot
      .container-fluid
        .row
          .col-lg-9
            .row.main
              h1.title
              p.date
              p.desc
            .row.info
              .col-lg-4.proj
                p.infoHead Project
                +Info('Name :', '#')
                +Info('Type :', '#')
                +Info('Status :', '#')
                +Info('Client :', '#')
                +Info('Technologies :', '#')
                +Info('Link :', '#')
              .col-lg-4.team
                p.infoHead Team
                +Info('Name :', '#')
                +Info('Status :', '#')
              .col-lg-4.child
                p.infoHead Childrens
          .col-lg-3
            .buttonContainer
              a.disabled.showcase.hidden-xs View Showcase
              button.disabled.parent.hidden-xs View Parent Collection
              button.closeOverlay Close
    #selectedWorks
      - var infos = ['Type', 'Status', 'Technologies']
      .container-fluid
        each collection in selectedCollections
          .row.work(id=collection._id)
            .container-fluid.head
              .shift
                <img src=#{collection.image} />
                .name
                  h1=collection.name
                  h5=collection.for
                  h6=collection.date
              .buttonContainer
                .col-lg-6.col-sm-6.col
                  .click
                    button.stat
                      i.ion-stats-bars
                .col-lg-6.col-sm-6.col
                  - if (collection.showcase == 'true')
                    a(href='showcases/' + collection.itemType + '/' + collection._id)
                      button
                        i.ion-ios-lightbulb-outline
                  - else
                    .click
                      button.disabled
                        i.ion-ios-lightbulb-outline
              
            .container.info.proj
                p=collection.description
                .container-fluid
                  h5 Project Information
                    hr
                  each info in infos
                    +Info(info + ' :', collection[info.toLowerCase()])
                  +InfowButton('Project Size :', collection.collectionSize + ' Item/s', 'View', 'projectSizeView')
                - if (collection.parentTeamData)
                  .container-fluid
                    +InfowButton('Part of Team :', collection.parentTeamData.name, 'More Info', 'teamInfoView')
                - if (collection.parentTeamData)
                  .container.info.team.overlay
                    h3=collection.parentTeamData.name
                    img(src=collection.parentTeamData.logo)
                    .container-fluid.teamInfo
                      p.text=collection.parentTeamData.description
                      h5 Team Information
                        hr
                      +Info('Status', collection.parentTeamData.status)
                      +Info('Members', collection.parentTeamData.members)
                    .close
                      i.ion-ios-close-empty
    #allWorks
      .loading
        .spinnerContainer
          .block
          .spinner.top
          .spinner.bot
      .container-fluid.allWorkContainer
        .row
          each item in items
            .post(id=item.itemType + ':' + item._id class=item.itemType)
              -if(typeof(item.images) == 'object')
                <img src=#{item.image[0]}>
              - else
                <img src=#{item.image}>
              -if(item.itemType == "collection")
                .itemType.isCol
              -else if(item.itemType == "item")
                .itemType.isItem
          each item in items
            .post(id=item.itemType + ':' + item._id class=item.itemType)
              -if(typeof(item.images) == 'object')
                <img src=#{item.image[0]}>
              - else
                <img src=#{item.image}>
              -if(item.itemType == "collection")
                .itemType.isCol
              -else if(item.itemType == "item")
                .itemType.isItem
          each item in items
            .post(id=item.itemType + ':' + item._id class=item.itemType)
              -if(typeof(item.images) == 'object')
                <img src=#{item.image[0]}>
              - else
                <img src=#{item.image}>
              -if(item.itemType == "collection")
                .itemType.isCol
              -else if(item.itemType == "item")
                .itemType.isItem
          each item in items
            .post(id=item.itemType + ':' + item._id class=item.itemType)
              -if(typeof(item.images) == 'object')
                <img src=#{item.image[0]}>
              - else
                <img src=#{item.image}>
              -if(item.itemType == "collection")
                .itemType.isCol
              -else if(item.itemType == "item")
                .itemType.isItem
          each item in items
            .post(id=item.itemType + ':' + item._id class=item.itemType)
              -if(typeof(item.images) == 'object')
                <img src=#{item.image[0]}>
              - else
                <img src=#{item.image}>
              -if(item.itemType == "collection")
                .itemType.isCol
              -else if(item.itemType == "item")
                .itemType.isItem

  mixin InfowButton(title, desc, btnTxt, cls)
    .row
      .col-lg-4
        p.title=title
      .col-lg-4.col-xs-8
        p.value=desc
      .col-lg-4.col-xs-4.link
        button(class=cls)=btnTxt

  mixin Info(title, desc)
    .row
      .col-lg-4
        p.title=title
      - if(typeof(desc) == 'object')
        .col-lg-8
          each elem in desc
            p.value(class=title.toLowerCase())=elem
      - else
        .col-lg-8
          p.value(class=title.toLowerCase())=desc
  script(type="text/javascript" src="/javascripts/portfolio.min.js")