extends layout

block content
  header#gallery
    div.text-container
      p.visible-md.visible-lg Item Gallery
  section#display
    .container-fluid
      - var index = -1
      - var keys = itemKeys
      - var items = keys.length
      - var semi = items % 3
      - while (items % 3 !== 0)
        - items -= 1;
      - for (var i = 0; i < items; i+=3)
          .row
            - for (var j = i; j <= i + 2; j++)
              - index++
              - var itemName = (pageContent[index].Name).toLowerCase().split(' ').join('')
              a(href="works/item-"+itemName+"-"+index)
                article.col-lg-4.col-sm-12
                  +galleryItem(index)
      - if (semi > 0)
        .row
          - for (var remainder = index; index < remainder + semi; index++)
            - var itemName = (pageContent[index].Name).toLowerCase().split(' ').join('')
            a(href="works/item-"+itemName)
            article.col-lg-4.col-md-6.col-sm-12
              +galleryItem(index)

mixin galleryItem(keyIndex)
  - var keyItem = pageContent[keyIndex]
  img.img-responsive(src=keyItem.Image)
  aside
    h2 #{keyItem.Name}
    p #{keyItem.Description}
    br
    h5 Status: #{keyItem.Status}
    h5 Type: #{keyItem.Type}
    hr
    - if (keyItem.DisplayLink)
      p More info avaliable