extends layout

block content
  header#gallery
    div.text-container
      p.visible-md.visible-lg Item Gallery
  section#display
    .container-fluid
      .row
        - var keys = itemKeys
        - var items = keys.length
        - for (var i = 0; i < items; i++)
          +createItem(i)

mixin createItem(index)
  a(href="works/" + pageContent[index]._id)
    article.col-lg-4.col-md-6.col-sm-12
      - var keyItem = pageContent[index]
      img.img-responsive(src=keyItem.Image)
      aside
        h2 #{keyItem.Name}
        p #{keyItem.Description}
        br
        h5 Status: #{keyItem.Status}
        h5 Type: #{keyItem.Type}
        hr
        - if (keyItem.DisplayLink)
          p More info avaliable